body {
    font-family: Arial, sans-serif;
}
.cuerda {
    stroke-width: 2;
}
.triangulo {
    stroke: black;
    stroke-width: 2;
}
.circulo {
    stroke: blue;
    fill: none;
    stroke-width: 2;
}
.circulo-inscrito {
    stroke: red;
    fill: none;
    stroke-width: 2;
}